
.topBar {
    background: #37517e;
    color: #fff;
    height: 50px;
    font-size: 16px;
    font-weight: 600;
    z-index: 996;
    transition: all 0.5s;
}

.topBar.scrolled {
    top: -50px;
}

.topBar i {
    padding-right: 6px;
    line-height: 0;
}
.topBar span{
       font-size: 14px;
}

.link a {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    text-decoration: underline;
    padding-left: 15px;
    /*display: inline-block;*/
    line-height: 1px;
    transition: 0.3s;
}
.link a:hover{
    color: #f1f6fd;
}
.link span {
    padding-left: 6px;
    line-height: 0;
}
