.HeaderNav {
    display: flex;
    align-items: center;
}

.IconContainer {
    position: relative;
    cursor: pointer;
    margin-right: 20px;

}

.Icon {
    font-size: 20px;
    color: #0250DAFF;
}

.Badge {
    position: absolute;
    top: -5px;
    right: -9px;
    font-weight: normal;
    font-size: 10px;
    padding: 3px 6px;
    cursor: pointer;
    border-radius: 50%;
}

.Profile {
    display: flex;
    align-items: center;
}
.ProfileImage{
    display: block;
    width: 40px;
    height: auto;


}

.Profile span {
    font-size: 14px;
    font-weight: 600;
    color: #4154f1;
}