.Row {
    margin-bottom: 20px;
    font-size: 15px;
}

.CardTitle {
    color: #012970;
}

.Label {
    font-weight: 600;
    color: rgba(1, 41, 112, 0.6);
}

.Btn {
    background: #012970;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
}

.Row a {

    color: #23385e;
    text-decoration: underline;

}

.Row a:hover {
    color: #0d6efe;


}