.SidebarListItem {
    border: none !important;
    padding: 0;
    list-style: none;
    margin-bottom: 5px;
}


.SidebarListItem i {
    margin-right: 5px;
    font-size: 20px !important;
}

.NavLink {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    color: #294a70;
    background: #fff;
    padding: 10px 15px;
    border-radius: 4px;
}

.NavLink i {
    font-size: 16px !important;
    margin-right: 10px;
    color: #899bbd
}


.NavLink:hover, .NavLink.active {
    color: #4154f1;
    background: #ededf1;
}
