
.Entry {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

.Image {
    margin: -30px -30px 20px -30px;
    overflow: hidden;
}


.Title {
    font-size: 28px;
    font-weight: 700;
    padding: 0;
    margin: 20px 0 0 0;
    color: var(--color-secondary);
}

.Title:first-letter {
    text-transform: capitalize !important;
}


.Meta {
    margin-top: 20px;
}

.Meta ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    padding: 0;
    margin: 0;
}

.Meta ul li + li {
    padding-left: 20px;
}

.Meta i {
    font-size: 16px;
    margin-right: 8px;
    line-height: 0;
    color: rgba(86, 184, 230, 0.8);
}

.Meta span {
    font-size: 14px;
    display: inline-block;
    line-height: 1;
}


.Content {
    margin-top: 20px;
}
.Content img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
.Content p, .Content ul li {
    line-height: 26px;
    /*font-family: var(--font-primary);*/
}


.Content h3 {
    font-size: 22px;
    margin-top: 30px;
    font-weight: bold;
}

/*.Content img {*/
/*    max-width: 100%;*/
/*    height: auto;*/
/*    object-fit: cover;*/
/*}*/

.Content blockquote {
    overflow: hidden;
    background-color: rgba(27, 47, 69, 0.06);
    padding: 60px;
    position: relative;
    text-align: center;
    margin: 20px 0;
}

.Content blockquote p {
    color: var(--color-default);
    line-height: 1.6;
    margin-bottom: 0;
    font-style: italic;
    font-weight: 500;
    font-size: 22px;
}

.Content blockquote:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 3px;
    background-color: var(--color-secondary);
    margin-top: 20px;
    margin-bottom: 20px;
}

.Body ul {
    list-style: none;
    padding: 0;

}

.Body ul li {
    display: flex;
    font-size: 15px;
    align-items: flex-start;

}

.Body ul li:before {
    content: "\F26A";
    font-size: 16px;
    font-family: 'bootstrap-icons';
    margin-right: 5px;
    color: #7b829c;
}


.Footer {
    padding-top: 10px;
    border-top: 1px solid rgba(27, 47, 69, 0.15);
}

.Footer i {
    color: #38618e;
    display: inline;
}

.Footer a {
    color: rgba(27, 47, 69, 0.8);
    transition: 0.3s;
}

.Footer a:hover {
    color: var(--color-primary);
}

.Cats {
    list-style: none;
    display: inline;
    padding: 0 20px 0 0;
    font-size: 14px;
}

.Cats li {
    display: inline-block;
}

.Tags {
    list-style: none;
    display: inline;
    padding: 0;
    font-size: 14px;;
}

.Tags li {
    display: inline-block;
}

.Tags li + li::before {
    padding-right: 6px;
    color: var(--color-default);
    content: ",";
}

.Cats li + li::before {
    padding-right: 6px;
    color: #6c757d;
    content: ",";
}