
.Item {
    display: flex;
    box-shadow: 0px 0 15px rgba(0, 0, 0, 0.08);
    padding: 20px;
}

/*.wrapper {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    padding: 6px;*/
/*}*/
.Item img {
    width: 80px;
    margin-right: 15px;
}

.Recent h4 {
    font-size: 16px;
    font-weight: 500;
}

.Recent h4:first-letter {
    text-transform: capitalize;
}

.Recent h4 a {
    color: var(--color-secondary);
    transition: 0.3s;
}

.Recent h4 a:hover {
    color: var(--color-primary);
}

.Time {
    display: block;
    font-style: italic;
    font-size: 14px;
    color: rgba(var(--color-default), 0.4);
}