.section {
    overflow: unset;

    /*overflow-x: hidden;*/
}

.sticky {
    padding: 0;
    margin-bottom: 20px;
    position: -webkit-sticky;
    position: sticky;
    top: 7rem;
    height: 600px;
    overflow-y: auto;
    /*background-color: #e4f2fd;*/
    /*border: 1px solid #e4f2fd;*/
}

.body {
    overflow: hidden;
}

@media (min-width: 992px) {
    .body {
        padding: 0 1em;
    }

}

.body img {
    max-width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    object-fit: cover;
}


.section h3 {
    color: #2b180d;

}

.header3 {
    color: #2b180d;
    font-weight: 700;
}

.header {
    padding: 18px 30px 18px 45px;
    background-color: var(--color-secondary);
    color: var(--color-white);
    font-size: 15px;
    font-weight: 700;
}

@media screen and  (max-width: 991px) {

    .header {
        margin: 80px 0 20px 0;
    }


}

.sticky a {
    display: block;
    line-height: 1;
    padding: 15px 30px 15px 45px;
    border-bottom: 1px solid #d9e3e8;
    color: #272e4a;
    font-weight: 700;
    text-transform: capitalize;
    transition: 0.3s;
    /*margin: 10px 0;*/
}

.sticky a:last-child {

    border-bottom: none;

}


.section img {
    margin-bottom: 20px;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}


.section p {
    font-family: var(--font-primary);
    color: #7b829c;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 12px;
}


.section ul {
    list-style: none;
    padding: 0;
    font-size: 14px;
    font-family: var(--font-primary);
    color: #7b829c;
}

.section ul li {
    display: flex;
    /*color: #7b829c;*/
    align-items: flex-start;
    padding: 5px 0;
}

.section ul li:before {
    content: "\F26A";
    font-family: 'bootstrap-icons';
    margin-right: 8px;
    color: #7b829c;
}

