
.Categories {
    list-style: none;
    padding: 0;
}

.Categories li + li {
    padding-top: 10px;
}

.Categories a {
    color: #111;
    transition: 0.3s;
}

.Categories a:hover {
    color: #2CC73E;
}

.Categories a span {
    padding-left: 5px;
    color: #b4aca8;
    font-size: 14px;
}
